<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
xml:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<style media="screen" type="text/css">
@import "bootstrap";
 
 .navbar .nav > li > a.brand {
  padding-left: 0px;
}
 
#colOne , #colTwo , #colThree {
 
  width: 33.33%;
}
 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
 
body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
 
 
 
/* STRUCTURE */
 
#pagewrap {
        padding: 5px;
        width: 960px;
        margin: 20px auto;
}
#header {
        height: 60px;
        padding: 0 15px;
}
#content {
        width: 290px;
        float: left;
        padding: 5px 15px;
}
 
#middle {
        width: 294px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        margin: 0px 5px 5px 5px;
}
 
#sidebar {
        width: 270px;
        padding: 5px 15px;
        float: left;
}
#footer {
        clear: both;
        padding: 0 15px;
}
 
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
       
        #pagewrap {
                width: 94%;
        }
        #content {
                width: 41%;
                padding: 1% 4%;
        }
        #middle {
                width: 41%;
                padding: 1% 4%;
                margin: 0px 0px 5px 5px;
                float: right;
        }
       
        #sidebar {
                clear: both;
                padding: 1% 4%;
                width: auto;
                float: none;
        }
 
        #header, #footer {
                padding: 1% 4%;
        }
}
 
/* for 700px or less */
@media screen and (max-width: 600px) {
 
        #content {
                width: auto;
                float: none;
        }
       
        #middle {
                width: auto;
                float: none;
                margin-left: 0px;
        }
       
        #sidebar {
                width: auto;
                float: none;
        }
 
}
 
/* for 480px or less */
@media screen and (max-width: 480px) {
 
        #header {
                height: auto;
        }
        h1 {
                font-size: 2em;
        }
        #sidebar {
                display: none;
        }
 
}
 
 
#content {
        background: #f8f8f8;
}
#sidebar {
        background: #f0efef;
}
#header, #content, #middle, #sidebar {
        margin-bottom: 5px;
}
 
#pagewrap, #header, #content, #middle, #sidebar, #footer {
        border: solid 1px #ccc;
}
</style>

<title>Nonaddictive Login</title>
</head>

  <div id="fb-root"></div>

  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" data-scope="public_profile,user_events,rsvp_event,read_mailbox" onlogin="redirect()"></div>

    <script type="text/javascript">
 function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);

      if (response.status === 'connected') {
         redirect();
      } else if (response.status === 'not_authorized') {
         console.log('NOT AUTHORIZED');
      } else {
         console.log('NOT LOGGED INTO FACEBOOK');
      }
   }

   function checkLoginState() {
      FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
      });
   }

   window.fbAsyncInit = function() {
      FB.init({
         appId : <%= Facebook::APP_ID %>,
         cookie : true,
         xfbml : true,
         version : 'v2.2'
      });

      FB.getLoginStatus(function(response) {
         statusChangeCallback(response);
      });

   };

   (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js"; //sdk.js#xfbml=1&appId=<%= Facebook::APP_ID %>&version=v2.3
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function redirect() {
      console.log('Welcome!');
      FB.api('/me', function(response) {
         console.log('Successful login on login.html for: ' + response.name);
         //console.log(response);
         uid = response['id'];
         //console.log(uid);
      });

      FB.api('/me/events', function(response) {
         console.log(response);
         for (var curEvent = response.data.length - 1; curEvent >= response.data.length-10; curEvent -= 1) {
            document.getElementById('events').innerHTML += '<b>' + response.data[curEvent].name + '</b></br>'
            + 'Date: ' + response.data[curEvent].start_time.substr(5, 2)
            + '/' + response.data[curEvent].start_time.substr(8, 2) + '</br>'
            + 'Time: ' + response.data[curEvent].start_time.substr(11, 5) + '</br>'
            + 'RSVP Status: ' + response.data[curEvent].rsvp_status + '</br></br>';
         }
      });

      //console.log(uid);
      //console.log('test');
      //session['FB'] = FB;
      FB.api('/me/inbox', function(response) {
         console.log(response);
         
         // write inbox content
         for (var curConv = 0; curConv < 10; curConv += 1) {
            document.getElementById('content').innerHTML += "<a id='conv" + curConv + "' href='#'>" + response.data[curConv].to.data[0].name + "</a>" + ((response.data[curConv].unread > 0) ? " - Unread</br>" : "</br>");
            console.log("conv" + curConv);
         }
         addListeners(response);
      });
      console.log('stuff');
      //body.onload = function() {
      //}

      //location.href = '/success'
   }

   function addListeners(response) {
      for (var cur = 0; cur < 10; cur += 1) {
         console.log(cur);
         document.getElementById("conv" + cur).addEventListener("click", function() {
            console.log('line 96 ' + cur);
            loadConv(this.id, response);
         }, false);
      }
   }

   function SendMessage() {
      console.log('Sending message...');
      FB.ui({
         method: 'send',
         link: 'http://lahacks.com/'
      });
   }

   function loadConv(curConv, response) {
      // write conversation
      curConv = parseInt(curConv.substr(4), 10);
      console.log('loadconv ' + curConv);
      document.getElementById('middle').innerHTML = "<h2>" + response.data[curConv].to.data[0].name + "</h2>";
      var max = response.data[curConv].comments.data.length;
      for (var curMsg = (max - 10) > 0 ? (max - 10) : 0;
            curMsg < max;
            curMsg += 1) {
         document.getElementById('middle').innerHTML += response.data[curConv].comments.data[curMsg].from.name + ': ' + response.data[curConv].comments.data[curMsg].message + '</br></br>';
      }
   };
   
    setTimeout(function() {
        window.location.reload(1);
    }, 50000);
    
   </script>

<div id="pagewrap">

  <div id="header">
    <h1>Nirvana</h1>
    <h3 style="text-align:right;">
<a id="myLink" title="Send Message" href="#" onclick="SendMessage();return false;">Send Message </br> </a>
    </h3>
  </div>
    
  <div id="content">
    <h2>Inbox</h2>
    
  </div>
  
  <div id="middle">
    <h2>Select a Conversation</h2>
    
  </div>

  <div id="sidebar">
    <h2>Events</h2>
    <div id='events'></div>
  </div>
  
  <div id='footer'>
  </div>
  

</div>


</body>
</html>



